<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>title</title>
</head>
<body>
    <h1>Arm Console</h1>
    <ul>
        <li><a id="active" href="/detection.html" class="MenuLink">Detection</a></li>
        <li><a href="/astronaut.html" class="MenuLink">Astronaut</a></li>
        <li><a href="/docking.html" class="MenuLink">Docking</a></li>
    </ul>
	

	<div class="cameraBox centerDivFlexbox">
		<div class=camera></div>
	</div>
	<div class="centerDivFlexbox">
		<p id=warning-message>Dropped item detected!</p>
	</div>
</body>
</html>



