body {
    background-color:#393E46;
    height: 100%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100vw;
}

li {
  float: left;
}

.MenuLink {
	font-family: Arial, Helvetica, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.MenuLink:hover {
  background-color: #111;
}

#active {
	background-color: #EEEEEE;
	color: #111
}

.camera {
	width: 30vw;
	height: 30vw;
	margin: 5vh;
	background-color: white
}
.centerDivFlexbox {
	width: 100vw;
	display: flex;
	justify-content: center;
}

#warning-message {
	font-size: 3vh;
	color: red;
}
.astronautCamera {
	width: 50vw;
	height: 30vw;
	margin: 5vh;
	background-color:white
}
.control {
	display:grid;
	width:15vw;
	height:15vw;
	margin: 5vh;
	padding:0.5vw;
	background-color:#393E46;
	gap: 0.5vw;
	grid-template-columns: auto auto auto
}
.directionalButton{
	width:4.5vw;
	height:4.5vw;
  padding: 0px;
  border: 0px;
  background-color: #393E46;
  border-radius: 1vw
}
.buttonImage{
  height: 4.5vw;
  width: 4.5vw;
  padding: 0px;
  margin: 0px;
  background-color: #393E46;
  border-radius: 1vw
}
.controlButtonImage:hover{
  filter:brightness(70%)
}
.dockingButton{
  text-align: center;
  font-size: 2.5vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: auto;
  padding-bottom: auto;
  width: auto;
  height: 5vh;
  border-width: 0px;
  border-radius: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #948979
}

.dockingButton:hover{
  background-color: #776e61
}

.coordinateDiv{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center
}
.coordinateInputBox{
  height: 2vh
}
.coordinateText{
  margin: 0px
}
.sendCoordinateText{
  margin: 1vh;
  font-size: 2.5vh
}