body {
    background-color:#393E46;
    height: 100%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100vw;
}

li {
  float: left;
}

.MenuLink {
	font-family: Arial, Helvetica, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.MenuLink:hover {
  background-color: #111;
}

#active {
	background-color: #EEEEEE;
	color: #111
}

.camera {
	width: 30vw;
	height: 30vw;
	margin: 5vh;
	background-color: white
}
.centerDivFlexbox {
	width: 100vw;
	display: flex;
	justify-content: center;
}

#warning-message {
	font-size: 3vh;
	color: red;
}
.astronautCamera {
	width: 50vw;
	height: 30vw;
	margin: 5vh;
	background-color:white
}
.control {
	display:grid;
	width:30vw;
	height:30vw;
	margin: 5vh;
	padding:1vw;
	background-color:white;
	gap: 1vw;
	grid-template-columns: auto auto auto
}
.directionalButton{
	width:9vw;
	height:9vw;
	background-color:blue
}
