body {
    background-color:#578FCA;
    height: 100%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
b{
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3674B5;
  width: 100vw;
}

li {
  float: left;
}

iframe {
  height: 100%;
  width: 100%;
}

.MenuLink {
	font-family: Arial, Helvetica, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.MenuLink:hover {
  background-color: #111;
}

#active {
	background-color: #103E6E;
	color: #EEEEEE
}

.camera {
	width: 30vw;
	height: 30vw;
	margin: 5vh;
	background-color: white
}
.centerDivFlexbox {
	width: 100vw;
	display: flex;
	justify-content: center;
}

#warning-message {
	font-size: 3vh;
	color: red;
}
.astronautCamera {
	width: 50vw;
	height: 30vw;
	margin: 5vh;
	background-color:white
}
.control {
	display:grid;
	width:15vw;
	height:15vw;
	margin: 5vh;
	padding:0.5vw;
	background-color:#F5F0CD;
	gap: 0.5vw;
	grid-template-columns: auto auto auto
}
.directionalButton{
	width:4.5vw;
	height:4.5vw;
  padding: 0px;
  border: 0px;
  background-color: #F5F0CD;
  border-radius: 1vw
}
.buttonImage{
  height: 4.5vw;
  width: 4.5vw;
  padding: 0px;
  margin: 0px;
  background-color: #F5F0CD;
  border-radius: 1vw
}
.controlButtonImage:hover{
  filter:brightness(70%)
}
.dockingButton{
  text-align: center;
  font-size: 2.5vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: auto;
  padding-bottom: auto;
  width: auto;
  height: 5vh;
  border-width: 0px;
  border-radius: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #F5F0CD
}

.dockingButton:hover{
  background-color: #776e61
}

.coordinateDiv{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin:1vh;
  padding:1vh;
}
.coordinateInputBox{
  height: 2vh
}
.coordinateText{
  margin: 0px
}
.sendCoordinateText{
  margin: 1vh;
  font-size: 2.5vh
}
.coordinateControlDiv{
	background-color: #F5F0CD;
}
.sendCoordinateButton{
	margin:1vw;
}
.CurrentlyConnectedPortText{
	font-size: 4vh;
	text-align: center
}
.ConnectedPortName{
	font-size:20vh;
	text-align:center
}
.ConnectedDiv{
	display:flex;
	width:70vw;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	background-color: #F5F0CD;
	margin: 5vh;

}
.SelectionDiv{
	display:flex;
	width: 20vw;
	flex-direction: column;
	align-items:flex-start;
	justify-content:center;
	background-color: #F5F0CD;
	margin: 5vh;
	padding: 5vh;

}
.SelectionButtonDiv{
	display:flex;
	width:auto;
	justify-content: center;
}
.portButton{
	width: 8vh;
	height: 8vh;
	border-width: 0px;
	font-size: 7vh;
	margin: 0.5vh;
	padding: 0.5vh;
	border-radius:0.5vw;
}
.portButton:Hover{
	background-color:#AAA
}
.sendButton{
	border-width: 0px;
	font-size: 2vw;
	width:15vw;
	border-radius: 0.5vw;
}
.sendButton:Hover{
	background-color: #AAA;
}

.sendDiv p{
	font-size:1.5vw;
}
.grabButton{
	text-align: center;
  	font-size: 2.5vh;
 	padding-left: 4vw;
  	padding-right: 4vw;
  	padding-top: auto;
  	padding-bottom: auto;
  	width: auto;
  	height: 5vh;
  	border-width: 0px;
  	border-radius: 0.5vw;
  	margin-left: 1vw;
  	margin-right: 1vw;
  	background-color: #F5F0CD
}